# jumpcloud:
#   require_admin: true
#   title: JumpCloud
#   icon: mdi:cloud
#   url: http://192.168.1.186
#   rewrite:
#     - mode: header
#       name: "Location"
#       match: ^(\w+://[^/]+)?/(.*)$
#       replace: \1/api/ingress/jumpcloud/\2
# Ingress Panel Configuration
# Creates sidebar panels for internal services

# Media Management
jumpflix:
  title: Jumpflix
  url: http://192.168.1.216:5055
  icon: mdi:filmstrip
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumpflix/\2
    - mode: body
      match: '(["\(])/_next/'
      replace: '\1/api/ingress/jumpflix/_next/'
    - mode: body
      match: '(["\(])/api/v'
      replace: '\1/api/ingress/jumpflix/api/v'
    - mode: body
      match: '(["\(])/(os_icon|logo_stacked|favicon-)'
      replace: '\1/api/ingress/jumpflix/\2'    
    - mode: body
      match: '(baseURL|basePath|apiUrl):\s*["\x27]/api'
      replace: '\1:"/api/ingress/jumpflix/api'
    - mode: body
      match: '(url|path|href):\s*["\x27]/_next'
      replace: '\1:"/api/ingress/jumpflix/_next'
    - mode: body
      match: 'assetPrefix:\s*["\x27]["\x27]'
      replace: 'assetPrefix:"/api/ingress/jumpflix"'  
jumpflix_player:
  title: Jellyfin Player
  url: http://192.168.1.216:8096
  icon: mdi:play-circle
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumpflix_player/\2
    - mode: body
      match: '"/web/'
      replace: '"/api/ingress/jumpflix_player/web/'
    - mode: body
      match: '"System/'
      replace: '"api/ingress/jumpflix_player/System/'

sonarr:
  title: Sonarr (TV Shows)
  url: http://192.168.1.216:8989
  icon: mdi:television-classic
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/sonarr/\2
  
radarr:
  title: Radarr (Movies)
  url: http://192.168.1.216:7878
  icon: mdi:movie-roll
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/radarr/\2
  
prowlarr:
  title: Prowlarr (Indexers)
  url: http://192.168.1.216:9696
  icon: mdi:cloud-search
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/prowlarr/\2
  
jumpdown:
  title: Jumpdown
  url: http://192.168.1.216:8383
  icon: mdi:download
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumpdown/\2
    - mode: body
      match: '"/transmission/'
      replace: '"/api/ingress/jumpdown/transmission/'
  
library:
  title: Library
  url: http://192.168.1.216:5299
  icon: mdi:book-open-page-variant
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/library/\2

# System Management
jumpdock:
  title: Jumpdock (Portainer)
  url: http://192.168.1.216:5001
  icon: mdi:docker
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumpdock/\2
    - mode: body
      match: '"portainer.css"'
      replace: '"/api/ingress/jumpdock/portainer.css"'
    - mode: body
      match: '"assets/'
      replace: '"/api/ingress/jumpdock/assets/'
  
jumpdrive:
  title: Jumpdrive (Unraid)
  url: http://192.168.1.216
  icon: mdi:server
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumpdrive/\2
    - mode: body
      match: '"/webGui/'
      replace: '"/api/ingress/jumpdrive/webGui/'
    - mode: body
      match: '"/plugins/'
      replace: '"/api/ingress/jumpdrive/plugins/'
  
jumports:
  title: Jumports
  url: http://192.168.1.216:5050
  icon: mdi:gauge
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumports/\2

# Utilities
vpn:
  title: VPN Manager
  url: http://192.168.1.216:8090
  icon: mdi:shield-lock
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/vpn/\2
  
photos:
  title: Photos (Immich)
  url: http://192.168.1.216:2283
  icon: mdi:image-multiple
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/photos/\2
    - mode: body
      match: '="/_app/'
      replace: '="/api/ingress/photos/_app/'
    - mode: body
      match: '="/api/(?!ingress)'
      replace: '="/api/ingress/photos/api/'
  
jumpfiles:
  title: File Browser
  url: http://192.168.1.216:8080
  icon: mdi:folder-open
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/jumpfiles/\2
    - mode: body
      match: '="/static/'
      replace: '="/api/ingress/jumpfiles/static/'
    - mode: body
      match: '="/api/(?!ingress)'
      replace: '="/api/ingress/jumpfiles/api/'

tdarr:
  title: Tdarr
  url: http://192.168.1.216:8265
  icon: mdi:web
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/tdarr/\2
    - mode: body
      match: '="/api/(?!ingress)'
      replace: '="/api/ingress/tdarr/api/'

# Home Assistant Stack
zwavejs:
  title: Z-Wave JS UI
  url: http://192.168.1.216:8091
  icon: mdi:z-wave
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/zwavejs/\2

zigbee2mqtt:
  title: Zigbee2MQTT
  url: http://192.168.1.216:8099
  icon: mdi:zigbee
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/zigbee2mqtt/\2

esphome:
  title: ESPHome
  url: http://192.168.1.216:6052
  icon: mdi:chip
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/esphome/\2

matter_server:
  title: Matter Server
  url: http://192.168.1.216:5580
  icon: mdi:transit-connection-variant
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/matter_server/\2

mosquitto:
  title: MQTT Explorer
  url: http://192.168.1.216:4000
  icon: mdi:message
  work_mode: ingress
  rewrite:
    - mode: header
      name: "Location"
      match: ^(\w+://[^/]+)?/(.*)$
      replace: \1/api/ingress/mosquitto/\2
