id: '1742786991496'
alias: 'Transition: Late (11pm)'
description: ''
triggers:
- trigger: time
  at: input_datetime.transition_late_weeknight_time
  id: weeknight
- trigger: time
  at: input_datetime.transition_late_weekend_time
  id: weekend
conditions:
- condition: or
  conditions:
  - condition: and
    conditions:
    - condition: trigger
      id: weeknight
    - condition: time
      weekday:
      - mon
      - tue
      - wed
      - thu
  - condition: and
    conditions:
    - condition: trigger
      id: weekend
    - condition: time
      weekday:
      - fri
      - sat
actions:
- target:
    entity_id: input_select.lighting_mode
  data:
    option: Late
  action: input_select.select_option
- metadata: {}  
  action: scene.turn_on
  data: {}
  target:
    entity_id: scene.night
- action: light.turn_off
  metadata: {}
  data:
    transition: 120
  target:
    label_id: turn_off_late
  enabled: true
- action: script.target_lights_fader
  metadata: {}
  data:
    lights:
      label_id: turn_off_sleep
    lampBrightnessScale: zeroToTwoFiftyFive
    transitionTime:
      hours: 0
      minutes: 30
      seconds: 0
    easingTypeInput: auto
    endBrightnessPercent: 0
    endBrightnessEntityScale: zeroToOneHundred
    autoCancelThreshold: 10
    shouldStopIfTheLampIsTurnedOffDuringTheFade: true
    stopEntity: input_boolean.disable_turn_off_late
    shouldResetTheStopEntityToOffAtStart: true
    shouldInvertTheValueOfTheStopEntity: false
    shouldTryToUseNativeLampTransitionsToo: true
    isDebugMode: false
  enabled: true
mode: single