id: '1742786991496'
alias: 'Transition: Late (11pm)'
description: ''
triggers:
- trigger: template
  id: weeknight
  value_template: >
    {% set dur = states('input_datetime.deck_fade_duration') %}
    {% set dt = strptime(dur, '%H:%M:%S') %}
    {% set dur_s = (dt.hour * 3600) + (dt.minute * 60) + dt.second %}
    {% set start = (today_at(states('input_datetime.transition_late_weeknight_time')) - timedelta(seconds=dur_s)).strftime('%H:%M') %}
    {{ now().strftime('%H:%M') == start }}
- trigger: template
  id: weekend
  value_template: >
    {% set dur = states('input_datetime.deck_fade_duration') %}
    {% set dt = strptime(dur, '%H:%M:%S') %}
    {% set dur_s = (dt.hour * 3600) + (dt.minute * 60) + dt.second %}
    {% set start = (today_at(states('input_datetime.transition_late_weekend_time')) - timedelta(seconds=dur_s)).strftime('%H:%M') %}
    {{ now().strftime('%H:%M') == start }}
conditions:
- condition: or
  conditions:
  - condition: and
    conditions:
    - condition: trigger
      id: weeknight
    - condition: time
      weekday:
      - mon
      - tue
      - wed
      - thu
  - condition: and
    conditions:
    - condition: trigger
      id: weekend
    - condition: time
      weekday:
      - fri
      - sat
actions:
- target:
    entity_id: input_select.lighting_mode
  data:
    option: Late
  action: input_select.select_option
- metadata: {}  
  action: scene.turn_on
  data: {}
  target:
    entity_id: scene.night
- action: light.turn_off
  metadata: {}
  data:
    transition: 120
  target:
    label_id: turn_off_late
  enabled: false
- action: script.target_lights_fader
  metadata: {}
  data:
    lights:
      label_id: turn_off_late
    lampBrightnessScale: zeroToTwoFiftyFive
    transitionTime:
      hours: "{{ strptime(states('input_datetime.deck_fade_duration'), '%H:%M:%S').hour }}"
      minutes: "{{ strptime(states('input_datetime.deck_fade_duration'), '%H:%M:%S').minute }}"
      seconds: "{{ strptime(states('input_datetime.deck_fade_duration'), '%H:%M:%S').second }}"
    easingTypeInput: auto
    endBrightnessPercent: 0
    endBrightnessEntityScale: zeroToOneHundred
    autoCancelThreshold: 10
    shouldStopIfTheLampIsTurnedOffDuringTheFade: true
    stopEntity: input_boolean.disable_turn_off_late
    shouldResetTheStopEntityToOffAtStart: true
    shouldInvertTheValueOfTheStopEntity: false
    shouldTryToUseNativeLampTransitionsToo: true
    isDebugMode: false
  enabled: true
mode: single