toggle_input:
  alias: toggle_input
  sequence:
  - service: input_select.select_option
    target:
      entity_id: input_select.lighting_mode
    data:
      option: '{{ option_name }}'
  mode: single
toggle_mute:
  alias: Toggle Mute
  mode: parallel
  fields:
    media_player:
      description: Media Player that will be mute or unmuted
      example: media_player.media_room
  sequence:
  - target:
      entity_id: '{{ media_player }}'
    data:
      is_volume_muted: '{{ not state_attr(media_player , ''is_volume_muted'') }}'
    action: media_player.volume_mute
  description: ''
reset_lighting:
  sequence:
  - action: adaptive_lighting.apply
    metadata: {}
    data:
      entity_id: switch.adaptive_lighting_kitchen
      lights:
      - light.kitchen_group
      - light.kitchen_switch
      - light.kitchen
  - action: adaptive_lighting.set_manual_control
    metadata: {}
    data:
      lights:
      - light.kitchen_group
      - light.kitchen
      - light.kitchen_switch
      entity_id: switch.adaptive_lighting_kitchen
      manual_control: false
    enabled: true
  - action: adaptive_lighting.apply
    metadata: {}
    data:
      lights:
      - light.reference_light
      entity_id: switch.adaptive_lighting_adaptinglighting
  - action: adaptive_lighting.set_manual_control
    metadata: {}
    data:
      lights:
      - light.reference_light
      entity_id: switch.adaptive_lighting_adaptinglighting
      manual_control: false
    enabled: true
  alias: Reset Lighting
  description: ''
get_target_lights:
  sequence:
  - variables:
      entities: '{{lights_sources.entity_id if lights_sources.entity_id is list else
        [] if [lights_sources.entity_id] is defined else []}}'
      areas: '{{(lights_sources.area_id | map(''area_entities'') | list) | sum(start=[])
        if lights_sources.area_id is list else area_entities(lights_sources.area_id)}}'
      devices: '{{(lights_sources.device_id | map(''device_entities'') | list) | sum(start=[])
        if lights_sources.device_id is list else device_entities(lights_sources.device_id)
        }}'
      labels: '{{(lights_sources.label_id | map(''label_entities'') | list) | sum(start=[])
        if lights_sources.label_id is list else label_entities(lights_sources.label_id)
        }}'
      source: '{{ "label_id" if lights_sources.label_id is defined
        else "device_id" if lights_sources.device_id is defined
        else "area_id" if lights_sources.area_id is defined
        else "entity_id" if lights_sources.entity_id is defined
        else "" }}'
      source_id: '{{ lights_sources.label_id if lights_sources.label_id is defined
        else lights_sources.device_id if lights_sources.device_id is defined
        else lights_sources.area_id if lights_sources.area_id is defined
        else lights_sources.entity_id if lights_sources.entity_id is defined
        else "" }}'
      all_entities: '{{(entities + areas + devices + labels) | select(''match'', ''light.'')
        | unique | list}}'
      return_value: '{{ {"entities": all_entities, "source": source, "source_id": source_id} }}'
  - stop: Sources
    response_variable: return_value
  alias: Get Target Lights
  description: ''
  fields:
    lights_sources:
      selector:
        target:
          entity:
            domain: light
      required: true
      name: Input source
      description: Input source
    domain:
      selector:
        select:
          options:
          - light.
          - switch.
      name: Pick a domain
      required: true
fade_until_time:
  fields:
    light:
      name: "\U0001F4A1 Light"
      description: entity_id of the lamp.
      selector:
        entity:
          domain: light
      example: light.kitchen
      required: true
      default: light.living_fan
    startBrightnessPercent:
      name: End brightness level
      description: Percentage from 0 to 100 representing the final brightness level.
      selector:
        number:
          min: 0
          max: 100
          step: 1
          mode: slider
          unit_of_measurement: '%'
      example: '50'
      required: false
      default: 76
    endBrightnessPercent:
      name: End brightness level
      description: Percentage from 0 to 100 representing the final brightness level.
      selector:
        number:
          min: 0
          max: 100
          step: 1
          mode: slider
          unit_of_measurement: '%'
      default: 0
      example: '50'
      required: true
    stopEntity:
      name: "\U0001F6D1 (optional) Stop if a certain entity is turned on during the
        fade?"
      description: 'You can optionally have the script keep an eye on an input boolean
        or a binary sensor or a light. And if that entity is then turned on during
        the fade, the script will automatically stop. So for example, if you create
        a “Stop Everything” input boolean, and if you set that entity here, you can
        stop your fade at any time by turning on that “Stop Everything” entity. '
      selector:
        entity:
          domain:
          - input_boolean
          - binary_sensor
          - light
          - switch
      default: input_boolean.manual_lighting
      example: input_boolean.stop_everything
      required: false
      advanced: true
    transitionTime:
      name: ⏱ Fade time
      description: Fade duration.
      selector:
        duration:
      default:
        hours: 0
        minutes: 0
        seconds: 30
    endTimeEntity:
      name: "\U0001F6D1 (optional) Determine transition time from an end time?"
      selector:
        entity:
          domain:
          - input_datetime
      example: input_datetime.late_time
      required: false
      advanced: true
      default: input_datetime.late_time
  sequence:
  - variables:
      isStartBrightnessPercentSet: "{% if (startBrightnessPercent is defined) and
        (has_value(startBrightnessPercent)) %}\n  {{ true }}\n{% else %}\n  {{ false
        }}\n{% endif %}\n"
      isEndTimeEntitySet: "{% if (endTimeEntity is defined) and (has_value(endTimeEntity))
        %}\n  {{ true }}\n{% else %}\n  {{ false }}\n{% endif %}\n"
      actualTransitionTime: "{% if isEndTimeEntitySet %}\n  {{ (states(\"input_datetime.late_time\")
        | as_datetime | as_local) - (now() | as_local )  }}\n{% else %}\n  {{ transitionTime
        }}\n{% endif %}\n"
  - if:
    - condition: template
      value_template: '{{ isStartBrightnessPercentSet }}'
    - condition: template
      value_template: isStartBrightnessPercentSet
    then:
    - data:
        brightnessPct: '{{ startBrightnessPercent }}'
      target:
        entity_id: '{{ light }}'
      action: light.turn_on
  - action: script.turn_on
    metadata: {}
    target:
      entity_id: script.ashley_s_light_fader_2
    data:
      shouldStopIfTheLampIsTurnedOffDuringTheFade: true
      shouldResetTheStopEntityToOffAtStart: true
      shouldInvertTheValueOfTheStopEntity: false
      minimumStepDelayInMilliseconds: 100
      shouldTryToUseNativeLampTransitionsToo: true
      isDebugMode: false
      transitionTime: '{{ actualTransitionTime }}'
      light: '{{ light }}'
  alias: Fade until time
  description: ''
