esphome:
  name: ${name}
  friendly_name: ${description}
  on_boot:
    then:
      # - light.control:
      #     id: led_strip
      #     state: !lambda
      #       return id(last_light_state);
      - light.turn_on:
          id: led_strip
          color_brightness: 66%
          red: 100%
          green: 32%
          blue: 71%
          white: 0%
          # red: id(rgb_r)
          # green: id(rgb_g)
          # blue: id(rgb_b)
          # white: id(rgb_w)

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: ${encryption_key}

ota:
  password: likesbutts
  platform: esphome

wled:

esp32:
  board: ${board}
  restore_from_flash: true

globals:
  - id: last_light_state
    type: boolean
    restore_value: yes
    initial_value: 'false'
  - id: rgb_r
    type: float
    restore_value: yes
    initial_value: "1.0"
  - id: rgb_g
    type: float
    restore_value: yes
    initial_value: "0.32"
  - id: rgb_b
    type: float
    restore_value: yes
    initial_value: "0.71"
  - id: rgb_w
    type: float
    restore_value: yes
    initial_value: "0"

light:
  - platform: neopixelbus
    type: GRB
    id: led_strip
    variant: WS2812
    pin: ${pin}
    num_leds: ${num_leds}
    name: "${description}"
    effects: 
        - pulse:
        - addressable_color_wipe:
        - addressable_twinkle:
        - addressable_random_twinkle:
        - addressable_fireworks:
        - addressable_flicker:
    on_turn_on:
      - globals.set:
          id: last_light_state
          value: 'true'
    on_state:
      - globals.set:
          id: rgb_r
          value: id(led_strip).current_values.get_red()
      - globals.set:
          id: rgb_g
          value: id(led_strip).current_values.get_green()
      - globals.set:
          id: rgb_b
          value: id(led_strip).current_values.get_blue()
      - globals.set:
          id: rgb_w
          value: id(led_strip).current_values.get_white()
    on_turn_off:
      - globals.set:
          id: last_light_state
          value: 'false'        

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${description} Direct"
    password: !secret fallback_wifi_password

captive_portal:
    